/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 3px;
  transform: scale(0);
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--font-color);
  opacity: 0.6;
  transform: scale(1);
  transition: ease 0.3s;
}

.theme-menu__button:disabled::before {
  content: "▶";
  opacity: 0.6;
  position: absolute;
  animation-name: arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  left: -17px;
}

@keyframes arrow {
  from {
    transform: translateX(4px);
  }
  to {
    transform: translateX(-4px);
  }
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--border);
  transition: ease 0.3s;
}

.like-icon:hover .core {
  fill: var(--heart-contour);
  transition: fill 0.3s 0s linear;
}

.like-icon .core {
  transition-delay: 0.03s;
  fill: transparent
}

.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s 0s linear;
}

.like-icon .main-body {
  fill: transparent;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
}

@keyframes like {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
} 

.like-icon.is-liked .heart {
    fill: var(--heart-color);
    animation: like 0.3s ease-in 0.1s alternate;
    transform-origin: center;
}

@keyframes sparks {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s alternate;
}

.card__like-button:focus,
.save-button:focus,
.submit-button:focus {
  outline: none;
  box-shadow: 2px 2px var(--font-color);
  transition: ease 0.3s;
}

.card__like-button::after,
.save-button::after,
.submit-button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--font-color);
  transform: scaleX(0);
  position: absolute;
  transition: 0.5s ease-in-out;
  top:0;
  left:0;
  transform-origin: left;
}

.card__like-button:hover::after,
.save-button:hover::after,
.submit-button:hover::after {
  transform: scaleX(1);
}